{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "useTabs": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}