@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.dark-theme) {
	--clr-bg: #efefef;
	--clr-bg-alt: #292c34;
	--clr-primary: #000;
	--clr-primary-alt: #ddd;
	--filter-invert: 0;
}

body.dark-theme {
	--clr-bg: #292c34;
	--clr-bg-alt: #efefef;
	--clr-primary: #ddd;
	--clr-primary-alt: #000;
	--filter-invert: 1;
}

/* Smooth theme switch */
*,
body {
	transition: all 0.1s ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--clr-primary);
}

body {
	overflow-y: hidden;
	background-color: var(--clr-bg);
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
}

@layer utilities {
	/* Utilities */
	.underline-animation-center {
		position: relative;
	}

	.underline-animation-center::after {
		position: absolute;
		content: '';
		left: 50%;
		right: 50%;
		bottom: 0;
		transform: translateY(3px);
		width: 0;
		height: 3px;
		background-color: gray;
		transition: all 0.2s ease;
	}

	.underline-animation-center:hover::after {
		width: 100%;
		left: 0;
		right: 0;
	}

	/* Transitions (need to remove and use Tailwind only) */
	.transition-all-200-ease {
		transition: all 0.2s ease;
	}

	/* Imports */
	.bg-sky-dark {
		--darken: rgba(0, 0, 0, 0.3);
		background-image: linear-gradient(var(--darken), var(--darken)),
			url('../assets/sky-dark.jpeg');
	}

	.bg-sky-light {
		--darken: rgba(0, 0, 0, 0.1);
		background-image: linear-gradient(var(--darken), var(--darken)),
			url('../assets/sky-light.jpeg');
	}
}
