@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.dark-thteme) {
	--clr-bg: #efefef;
	--clr-primary: #000000;
	--filter-invert: 0;
}

body.dark-theme {
	--clr-bg: #292c34;
	--clr-primary: #ddd;
	--filter-invert: 1;
}

/* Smooth theme switch */
*,
body {
	transition: all 0.1s ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--clr-primary);
}

body {
	overflow-y: hidden;
	background-color: var(--clr-bg);
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
}

@layer utilities {
	/* Utilities */
	.color-change {
		filter: var(--filter-invert);
	}

	/* Transitions */
	.transition-all-200-ease {
		transition: all 0.2s ease;
	}

	/* Imports */
	.bg-sky-dark {
		--darken: rgba(0, 0, 0, 0.3);
		background-image: linear-gradient(var(--darken), var(--darken)),
			url('../assets/sky-dark.jpeg');
	}

	.bg-sky-light {
		--darken: rgba(0, 0, 0, 0.1);
		background-image: linear-gradient(var(--darken), var(--darken)),
			url('../assets/sky-light.jpeg');
	}
}
