@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg: #916ee4;
  --clr-primary: #000000;
  --filter-invert: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #212121;
    --clr-primary: #ddd;
    --filter-invert: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-primary);
  transition: color 0.2s ease;
}

body {
  overflow-y: hidden;
  background-color: var(--clr-bg);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.color-change {
  filter: var(--filter-invert);
  transition: all 0.2s ease;
}

/* no idea what this does */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
